<div class='band-details'>
  <h1>Bad Band Details</h1>
  <h2><%= @badbands.name %></h2>
  <h2><%= @badbands.song %></h2>
  <h2><%= @badbands.album %></h2>
</div>

<h3><%= link_to "Back", root_path %></h3>
