/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
  background-color: #CDA34F;
  color: black;
  font-size: 10vh;
}

main {
  display: flex;
  flex: 1;
  min-height: 75vh;
  flex-direction: row;
  justify-content: space-around;
  font-size: 15px;
  background-color: #E9E7DA;
}

.good {
  margin-top: 5vh;
  height: 60vh;
  padding: 5px 5px 5px 5px;
  width: 40vw;
}

.good-bands {
  overflow: auto;
  height: 45vh;
  border: 5px solid #636B46;
}

.add-good-band {
  height: 10vh;
}

.bad {
  margin-top: 5vh;
  height: 60vh;
  padding: 5px 5px 5px 5px;
  width: 40vw;
}

.bad-bands {
  overflow: auto;
  height: 45vh;
  border: 5px solid #636B46;
}

.add-bad-band {
  height: 10vh;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 18px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  background-color: #373F27;
  color: #E9E7DA;
  font-size: 5vh;
}

@media (max-width: 800px) {

  .header {
    min-height: 10vh;
    font-size: 6vh;
  }

  main {
    min-height: 80vh;
  }

  .good {
    margin-top: 2vh;
    height: 50vh;
    padding: 2px 2px 2px 2px;
  }

  .good-bands {
    height: 40vh;
    border: 2px solid #636B46;
  }

  .add-good-band {
    height: 8vh;
  }

  .bad {
    margin-top: 2vh;
    height: 50vh;
    padding: 2px 2px 2px 2px;
  }

  .bad-bands {
    height: 40vh;
    border: 2px solid #636B46;
  }

  .add-bad-band {
    height: 8vh;
  }

  h1 {
  font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 12px;
  }

  .footer {
    min-height: 5vh;
    font-size: 3vh;
  }

}
